@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Add this to ensure anchor links account for the fixed navbar */
@media (min-width: 768px) {
  :target::before {
    content: "";
    display: block;
    height: 80px; /* Adjust this value based on your navbar height */
    margin: -80px 0 0;
  }
}

/* Smooth transition for navbar background */
.fixed {
  transition: background-color 0.3s ease;
}

